@-moz-document domain("coda.io") {
* {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;

}
body {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
textarea {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.canvas_header_view--title--676ddfH8 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-span {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
kr-span _1AnnyuTu _4iMg34Kt _210CDYUn _1xbpa4Cy {
    font-family: proxima-nova, sans-serif;
}
.kr-line {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-line.kr-h1,
.kr-line.kr-h2,
.kr-line.kr-h3 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.canvas_section--section--30iWxVOS {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.canvas_ranges_editor--canvas--2SZABG_D {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-ulist {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.block-level-1 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.block-level-2 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-line.kr-code {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.canvas_suggestions--root--1KmP-Hk3 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.placeholder_text_caret_decorator--shared--m_qZ_UY1 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
body:not(.isMobile) .canvas_ranges_editor--footer--1FI-8uBZ {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.grid--root--vC2eX3Ij {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.row_cell--root--3ja1lIy0 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.column_header_cell--root--2R_RE2AN:not(.column_header_cell--rightAlign--1LgJ21gJ) .column_header_cell--title--1mQ_5dEM:not(.column_header_cell--focused--1CyNtlcy) {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.grid_title--title--2kGaCBGJ {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.aggregate_row--container--3Rw5z1MI {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.section_list_item--root--1RhaukoO {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.add_section_button--addButtonContainer--3ZoezOov {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.simple_text_input_view--placeholder--1NfJDiTp {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.title--textInput--17rnHTGB {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.roster--roster--2FfR52fP {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.title--icon--2EhFmDq3 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.title_bar--root--KjDBqrRl {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.insert_object_menu--root--2UwW55fd {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.document--commentRail--2OUU9WkT {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.document--rightContentsContainer--1ukMDw6X {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.document--rightContentsContainer--1ukMDw6X.document--collapsed--z0_7RCYy {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.help_button--button--4Ly1iuWp {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-indented.block-level-2,
.kr-olist.block-level-2,
.kr-ulist.block-level-2 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-indented.block-level-3,
.kr-olist.block-level-3,
.kr-ulist.block-level-3 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-indented.block-level-4,
.kr-olist.block-level-4,
.kr-ulist.block-level-4 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
.kr-indented.block-level-5,
.kr-olist.block-level-5,
.kr-ulist.block-level-5 {
    font-family: proxima-nova, Segoe UI Emoji,Segoe UI Symbol,Segoe UI,Apple Color Emoji,Twemoji Mozilla,Noto Color Emoji,Android Emoji, sans-serif;
}
@font-face {
    font-family: 'codaicons';
    src: url('https://cdn.coda.io/assets/f9ceff65ec18/fonts/codaicons.woff2') format('woff2'), url('https://cdn.coda.io/assets/f9ceff65ec18/fonts/codaicons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
}
